body {
	background: #849d8f;
	font-size: 16px;
	line-height: 1;
	color: white;
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
.banners p {
	font-size: 18px;
}

.banners .banner-title {
	font-size: 35px;
}

.btn{
	font-size: 18px;
}

.btn-lg {
	font-size: 32px;
}

.slider .slider-heading {
	font-size: 60px;
}

.about-us .about-us-tittle {
	font-size: 24px;
}

.about-us .about-us-description {
	line-height: 1;
}


/*----------------header----------------*/
.main-header {
	padding-top: 9px;
}

.main-navigation {
	float: left;
}

.main-navigation .logo {
	float: left;
	margin-right: 5px;
}

.main-navigation .main-menu {
	font-size: 0;
	float: left;
	padding: 0;
	position: relative;
}

.main-menu > li {
	display: inline-block;
	vertical-align: top;
	padding: 10px 13px;
	margin-top: 14px;
	border-radius: 32px;
}

.main-menu > li:hover {
	background: #f7f6f3;
}

.main-menu > li:hover a{
	color: #323232;
	border: rgba(0,0,0,0);
}

.main-menu > li:first-child {
	margin-left: 7px;
}

.main-menu > li > a {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	color: white;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	font-weight: 500;
}

.sub-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 54px;
	width: 144px;
	height: 170px;
	background: #f7f6f3;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-radius: 8px;
}

.sub-menu .sub-menu-tittle {
	font-weight: 500;
	padding-top: 14px;
	padding-bottom: 13px;
	padding-left: 21px;
	margin: 0;
	color: #323232;
	color: #323232;
	font-size: 14px;
	position: relative;
}

.sub-menu li:first-child::after {
	content: "";
	display: block;
	height: 1px;
	width: auto;
	background: rgba(53,53,53,0.2);
	position: absolute;
	top: 40px;
	left: 6px;
	right: 6px;
}

.sub-menu li a {
	display: block;
	color: #323232;
	font-size: 14px;
	padding-left: 21px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 3px 0;
}

.sub-menu li a:hover {
	background: #fbded7;
}

.sub-menu li a:active {
	background: #f6b5a5;
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.user-block {
	float: right;
	font-size: 0;
	padding: 0;
	margin: 0;
	margin-top: 14px;
	list-style-type: none;
	vertical-align: top;
}

.user-block li {
	display: inline-block;
	vertical-align: top;
}

.search {
	position: relative;
}
.search a {
	border-radius: 32px;
	width: 32px;
	height: 32px;
	background:rgba(255,255,255,0.2) url(../img/icons/loupe.png) no-repeat 50% 50%;
	display: block;
}

.search a:hover {
	background: #f8f7f4 url(../img/icons/loupe-hover.png) no-repeat 50% 50%;
}

.search:hover .search-form{
	display: block;
}


.search .search-form {
	display: none;
	position: absolute;
	right: 0;
	top: 36px;	
	background: #f8f7f4;
	border-radius: 9px;
}

.search-form input{
	font-size: 14px;
	width: 295px;
	height: 45px;
	margin: 20px 15px;
	border-radius: 9px;
	border: 1px solid #d3d3d2;
	padding-left: 15px;
}

.search-form input:focus{
	outline: none;
	border: 1px solid #323232;
}

.user-block .entrance {
	font-size: 14px;
}

.entrance .login-form {
	display: none;
}

/*верста формы входа*/

.info {
	text-align: right;
	color: white;
	font-size: 14px;
}

.info .phone {
	display: inline-block;
	font-size: 22px;
	text-decoration: none;
	line-height: 1.5;
	color: white;
	font-weight: 500;
}


.goods {
	display: none;
}

/*----------------main----------------*/

/*section breadcrumbs*/

.breadcrumbs {
	width: 267px;
	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li a,
.breadcrumbs > .active {
	vertical-align: top;
	font-size: 14px;	
}


/*section slider*/
.slider {
	margin-bottom: 40px;
}

.slider-item {
	width: 700px;
	text-align: center;
	margin: 0 auto;
}
/*section banners*/

.banners .banner {
	width: 560px;
	margin-bottom: 40px;
}

.banners .banner-raspberry {
	float: left;
}

.banners .banner-chocolate {
	float: right;
}

/*section filters*/
.filter-fatness {
	font-size: 0;
}

.filter-fatness .filter-radio {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.filter-extender {
	font-size: 0;
}

.filter-extender .filter-checkbox {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

/*section bestseller*/

.bestseller {
	margin-bottom: 40px;
}

.bestseller .item {
	width: 267px;
	margin-right: 26px;
	float: left;
	font-size: 18px;
	text-align: center;
	margin-top: 40px;
}

.bestseller .item-tittle {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.bestseller .item:nth-child(4n){
	margin-right: 0;
}

.bestseller .btn {
	display: none;
}

.pagination {
	width: 200px;
	float: right;
	font-size: 0;
}

.pagination li {
	display: inline-block;
}

.pagination li a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

/*section about-us*/

.about-us {
	margin-bottom: 40px;
}

.about-us .column-left {
	width: 560px;
	float: left;
}

.about-us .column-right {
	width: 560px;
	float: right;
}

/*section last-news*/

.last-news {
	margin-bottom: 40px;
}

.last-news .news {
	width: 560px;
	float: left;
}

.last-news .subscription {
	width: 560px;
	float: right;
}

/*section map*/

.map .contact-us {
	width: 302px;
	float: right;
}

/*section filters*/

.filters {
	width: 1000px;
	float: left;
}

.filters .filter-sorting {
	width: 200px;
	float: left;
	margin-left: 10px;
}

.filters .filter-price {
	width: 230px;
	float: left;
	margin-left: 10px;
}

.filters .filter-fatness {
	width: 430px;
	float: left;
}

.filters .filter-extender {
	width: 710px;
	float: left;
	margin-right: 10px;
}

.filter-btn {
	float: left;
}

/*----------------footer----------------*/
.main-footer .social-btns {
	width: 267px;
	float: left;
	margin-right: 26px;
}

.main-footer .navbar {
	width: 560px;
	float: left;
	margin:0 auto;
}

.main-footer .copyright {
	width: 267px;
	float: right;
}

.navbar .navbar-left {
	margin-left: 100px;
	float: left;
}

.navbar .navbar-right{
	float: left;
}



/*----------------other----------------*/
.clearfix::after {
	content: "";

	display: table;
	clear: both;
}

.container {
	width: 1146px;
	padding: 0 27px;
	margin:0 auto;
}

.btn {
	display: inline-block;
}

.popup {
	display: none;
}