body {
	background: #849d8f;
	font-size: 16px;
	line-height: 1;
	color: white;
}

.main-header .main-navigation a {
	font-size: 16px;
}

.main-header .info {
	font-size: 14px;
}

.main-header .info .phone {
	font-size: 22px;
}

.banners p {
	font-size: 18px;
}

.banners .banner-title {
	font-size: 35px;
}

.btn{
	font-size: 18px;
}

.btn-lg {
	font-size: 32px;
}

.slider .slider-heading {
	font-size: 60px;
}

.about-us .about-us-tittle {
	font-size: 24px;
}

.about-us .about-us-description {
	line-height: 1;
}


/*----------------header----------------*/
.main-navigation {
	width: 560px;
	float: left;
	margin-right: 267px;
}

.main-navigation .logo {
	float: left;
}

.main-navigation .main-menu {
	font-size: 0;
	float: left;
}

.main-menu li {
	display: inline-block;
}

.main-menu li a{
	display: inline-block;
	vertical-align: top;
}

.main-navigation .sub-menu {
	display: none;
}

.user-block {
	width: 267px;
	float: right;
	font-size: 0;
}

.user-block li {
	display: inline-block;
}

.user-block li a {
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}

.search .search-form {
	display: none;
}

.entrance .login-form {
	display: none;
}

.info {
	text-align: right;
}

.info .phone {
	display: block;
}


.goods {
	display: none;
}

/*----------------main----------------*/

/*section breadcrumbs*/

.breadcrumbs {
	width: 267px;

	font-size: 0;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li a,
.breadcrumbs > .active {
	vertical-align: top;
	font-size: 14px;	
}


/*section slider*/
.slider {
	margin-bottom: 40px;
}

/*section banners*/

.banners .banner {
	width: 560px;
	margin-bottom: 40px;
}

.banners .banner-raspberry {
	float: left;
}

.banners .banner-chocolate {
	float: right;
}

/*section filters*/
.filter-fatness {
	font-size: 0;
}

.filter-fatness .filter-radio {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

.filter-extender {
	font-size: 0;
}

.filter-extender .filter-checkbox {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

/*section bestseller*/

.bestseller {
	margin-bottom: 40px;
}

.bestseller .item {
	width: 267px;
	margin-right: 26px;
	float: left;
	font-size: 18px;
	text-align: center;
	margin-top: 40px;
}

.bestseller .item-tittle {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.bestseller .item:nth-child(4n){
	margin-right: 0;
}

.bestseller .btn {
	display: none;
}

.pagination {
	width: 200px;
	float: right;
	font-size: 0;
}

.pagination li {
	display: inline-block;
}

.pagination li a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}

/*section about-us*/

.about-us {
	margin-bottom: 40px;
}

.about-us .column-left {
	width: 560px;
	float: left;
}

.about-us .column-right {
	width: 560px;
	float: right;
}

/*section last-news*/

.last-news {
	margin-bottom: 40px;
}

.last-news .news {
	width: 560px;
	float: left;
}

.last-news .subscription {
	width: 560px;
	float: right;
}

/*section map*/

.map .contact-us {
	width: 302px;
	float: right;
}

/*section filters*/

.filters {
	width: 1000px;
	float: left;
}

.filters .filter-sorting {
	width: 200px;
	float: left;
	margin-left: 10px;
}

.filters .filter-price {
	width: 230px;
	float: left;
	margin-left: 10px;
}

.filters .filter-fatness {
	width: 430px;
	float: left;
}

.filters .filter-extender {
	width: 710px;
	float: left;
	margin-right: 10px;
}

.filter-btn {
	float: left;
}

/*----------------footer----------------*/
.main-footer .social-btns {
	width: 267px;
	float: left;
	margin-right: 26px;
}

.main-footer .navbar {
	width: 560px;
	float: left;
	margin:0 auto;
}

.main-footer .copyright {
	width: 267px;
	float: right;
}

.navbar .navbar-left {
	margin-left: 100px;
	float: left;
}

.navbar .navbar-right{
	float: left;
}



/*----------------other----------------*/
.clearfix::after {
	content: "";

	display: table;
	clear: both;
}

.container {
	width: 1200px;
	padding: 0 27px;
	margin:0 auto;
}

.btn {
	display: inline-block;
}

.popup {
	display: none;
}